body {
    background-color: black;
    color: white;

    h1 {
        color: white;
    }

    h2 {
        color: #00FFF0;
    }

    p {
        color: #FFC700;
    }
}
nav{
    border-radius: 50px;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        height: 50px;
    }
}

#presentation {
    background-image: url("../images/FondAbout.png");
    background-size: 1800px ;
    background-repeat: no-repeat;
    img{
        width: 100px;
    }

    h1 {
        text-align: center;
        color: yellow;
    }

    button {
        display: block;
        margin: auto;
    }
}